@tailwind base;
@tailwind components;
@tailwind utilities;

/* html { */
  /* min-height: 100vh; */
  /* width: 100%;
  height: 100%; */
/* } */

html, body, #root {
  min-height: 100vh;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  @apply bg-gray-800;
  @apply text-white;
  height: 100%;
}

h1 {
  @apply text-lg;
}

#root {
  @apply space-x-0;
}