[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cpu/"
verify_ssl = true
name = "pytorch"

[packages]
flask = "*"
flask-bcrypt = "*"
flask-sqlalchemy = "*"
python-dotenv = "*"
sqlalchemy = "*"
flask-cors = "*"
pyopenssl = "*"
gunicorn = "*"
pillow = "*"
werkzeug = "*"
torch = {version = "*", index = "pytorch"}
torchvision = {version = "*", index = "pytorch"}

[dev-packages]
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.11"
