[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-bcrypt = "*"
flask-sqlalchemy = "*"
python-dotenv = "*"
sqlalchemy = "*"
flask-cors = "*"
pyopenssl = "*"
gunicorn = "*"
torch = "*"
torchvision = "*"
pillow = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.11"
